@font-face {
   font-family: 'Poppins-Medium';
   font-display: swap;
   src: url('file:///C:/Users/thisismalindu/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-02-18_172842/fonts/Poppins-Medium/font.ttf');
}
